  
  .h2{
    margin-bottom:10px;
  }
  .new-card-form {
    margin-left:27%;
    margin-top:70px;
    padding: 20px;
    background-color:#80a1e2;
    border-radius: 10px;
    width:400px;
    align-self: center;
  }

  form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #6f1313;
    border-radius: 5px;
  }
  
  form button {
    background-color: #0073e6;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #005bb5;
  }
  
  .otp-popup,
  .preview-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .otp-popup input,
  .preview-popup button {
    margin-top: 15px;
  }
  
  .preview-popup button {
    background-color: #28a745;
  }
  
  .preview-popup button:hover {
    background-color: #218838;
  }
  