.report-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }
  
  .search-bar {
    display: block;
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border-radius: 80px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .search-bar input {
    width: 80%;
    padding: 10px;
    border: 1.5px solid #1e1d1d;
    border-radius: 50px;
    font-size: 16px;
    text-align: center;
  }
  /*
  .table-wrapper {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
  }*/
  
  .report-table {
    width: 100%;
    border-collapse:separate;
    border-spacing: 0 12px;
    border-radius: 20px;
  }

  .report-table th{
    text-align: center;
    padding: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #f5f5f5;
    background: #80a1e2;
  }

  .report-table td {
    text-align: center;
    font-size:18px;
    padding:15px;
  }
  
  .report-table tbody tr {
    border-radius: 20px;
    background: #b7d6f3;
    padding:10px;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
  }

  .report-table tr:hover {
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    cursor: pointer;
    border-radius: 50px;
  }

  .report-table tr:active {
    transform: scale(0.98);
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.3);
  }

  .report-table th:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .report-table th:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .report-table tbody tr :first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .report-table tbody tr :last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  /* Hide scrollbar */
  .table-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  .table-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
