/* src/index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
}

.left-section {
  width: 50%;
  background: url('Login.png') no-repeat center center/cover; /* Make sure the path to the image is correct */
  height: 100vh; /* Ensures the image covers the full height */
  margin-bottom: 0px;;
}

.right-section {
  width: 50%;
  display: flex;
  flex-direction: column;;
  justify-content: flex-start;
  align-items: center;
  background-color: #f7f7f7;
  height: 100vh; /* Ensures the right section takes the full height */
  padding: 20px;
}

.right-section h1 {
  margin-top:40px;
  margin-bottom: 50px; /* Adds space between the title and the form section */
  text-align: center; /* Ensures the text is centered */
  font-size: 2rem; /* Adjust size as needed */
  font-weight: 600;
  color: #0056b3; /* Example text color */
}
.login-container {
  display: flex;
  height: 100vh;
  width:100vw;
  margin-left:0px;
  margin-right:0px;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.h1{
  justify-content: center;
  align-items: center;
  width: 100%;

}
.login-form {
  width: 80%;
  max-width: 400px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
}

.login-form input,
.login-form select,
.login-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-form button {
  background-color: #fb9f00;
  color: white;
  cursor: pointer;
  border-radius: 15px;
}

.login-form button:hover {
  background-color: #0056b3;
}
